PORT=8000
MONGODB_URI=mongodb+srv://youtube:youtube123@cluster0.xq43lvk.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dhj2gek9z
CLOUDINARY_API_KEY=113632985573521
CLOUDINARY_API_SECRET=ZTlrLQYQiaTDvyGWZ071pDET0LI


